@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

:root {
  --red      : #ff3860;
  --red-dark : #ff1443;
  --red-light: #ff5c7c;

  --blue      : #498afb;
  --blue-dark : #2674fa;
  --blue-light: #6ca0fc;

  --orange      : #fa8142;
  --orange-dark : #f96a1f;
  --orange-light: #fb9865;

  --green      : #09c372;
  --green-dark : #07a15e;
  --green-light: #0be586;

  --purple      : #9166cc;
  --purple-dark : #7d4bc3;
  --purple-light: #a481d5;

  --pink      : #ff4088;
  --pink-dark : #ff1c72;
  --pink-light: #ff649e;

  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #1f222a;
  --gray7: #12181b;
}

body {
  margin: 0;
  font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--gray6);
  color: white;
}

h1{
  text-align: center;
  font-size: 40px;
}

.chart{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.graph-container{
  display: grid;
  grid-template-columns: 1fr 1000px;
  margin: 0 4rem;
  gap: 2rem;
}

.graph-inputs{
  background-color: var(--gray5);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  padding: 1rem;
  height: fit-content;

  input{
    max-height: 2em;
    font-size: 20px;
    background-color: var(--gray4);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: auto 0;
    appearance: textfield;
  }

  label{
    font-size: 20px;
    margin: auto 0;
  }
}

.fire {
  background: linear-gradient(30deg, #a10100, #fff75d);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: FireAnimation 11s ease infinite;
  font-weight: bold;
}

@keyframes FireAnimation {
  0%{background-position:0% 75%}
  50%{background-position:100% 26%}
  100%{background-position:0% 75%}
}